body {
    margin: 0;
    padding: 0;
    border: 0;
    
    padding-top: 40px;
    
    text-align: center;
    font-family: Arial, san-serif;
}

#title {
    font-size: 600%;
    
    text-transform: lowercase;
    
    border-bottom: 1px solid #888;
    width: 40%;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 10px;
}

#title-desc {
    font-size: 200%;
    margin-top: 5px;
    margin-bottom: 150px;
}

#title, #title-desc {
    color: #4285f4;
}

.text {
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #4285f4;
}

input[type="text"] {
    background: #FFF;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #4285f4;
    font-size: 2em;
    border: 1px solid #4285f4;
    border-radius: 3px;
    margin: 10px;
}

input[type="submit"] {
    margin: 10px;
    background: #4285f4;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-size: 2em;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #4285f4;
}

#chat-form {
    margin-top: 20px;
}

#chat-form input, #chat-form div {
    display: inline-block;
    margin: 5px 3px;
}

#chatName {
    font-size: 200%;
    text-align: right;
    
    color: #666;
}

#chatMsg { width: 70%; }
#chatSubmit { width: 20%; }

#messages {
    height: 90%;
    border: 1px solid black;
    border-radius: 3px;
    
    text-align: left;
    
    padding: 20px;
}

#chat-wrapper {
    height: 100%;
    max-width: 700px;
    
    margin: 20px auto;
}

html, body, #__blaze-root {
    height: 95%;
}

#conversations {
    padding: 30px;
}

.conversation {
    border: 1px solid #666;
    border-radius: 3px;
    width: 30%;
    margin: 30px;
    margin: 0 auto;
}
